<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap"
        rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
        <link rel="icon" href="/favicon/favicon2.png">
        <script src="/scripts/friconix.js" defer></script>
    <title>Ubaid</title>
</head>

<body>
    <div class="container-fluid" id="main">

        <!-- Responsive Navbar -->
        <div class="container-fluid" id="header">
            <h1 style="font-weight: 700;">U <span style="color: #D05F37;">D.</span></h1>
            <ul class="nav-links">
                <li> <a href="/">Home</a> </li>
                <li><a href="/about">About</a></li>
                <li><a href="/work">Work</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </div>

        <!-- Body Section -->
        <div class="container-fluid" id="content">