<%- include('partials/header') %>

<div class="container-fluid row text-content">
    <div class="col-md-4 d-flex justify-content-center align-items-center">
        <h5 class="title">ABOUT ME</h5>
    </div>
    <div class="col-md-8">
        <p>
            Hello! My name is Ubaid, i am a <span style="color: #D05F37;">full-stack web developer</span>. I am currently pursuing degree in Computer Science. I have
            just started my Freelance career, i have quite decent experience in this field from my personal projects. I
            would love to put my skills and effort for my clients and create magic for them.
            <br>
            <span style="color: #D05F37;">Thank you.</span>
        </p>
        <a href="/resume/m_ubaid_resume.pdf" download><button>Download My CV</button></a>
    </div>
</div>

<%- include('partials/footer') %>