<%- include('partials/header') %>

<% if(message && message.length>0){ %>
    <h6 style="color: #D05F37;"><%= message %></h4>
<% } %>

<h1 class="glitch" data-text="I'm Mohammad Ubaid">I'm Mohammad Ubaid</h1>
<p class="subtext" id="typing">
    Web Developer
</p>

<script src="/scripts/typewriter-effect.js"></script>
<script src="/scripts/typeWriter.js"></script>
<%- include('partials/footer') %>